<h1>Acting Sisters</h1>
<p>Musical der Sekstufe1 Wichtrach</p>


<div>
	<h2><%= link_to "Szenen",  scenes_path %></h2>
	<p>Liste mit allen Szenen</p>
</div>

<div>
	<h2>Rollen</h2>
	<p>Liste mit allen Rollen</p>
</div>
