<%= link_to scenes_path do %>
<div class="linkdiv maindiv">
	  <h2>Szenen</h2>
	  <p>Liste mit allen Szenen</p>
</div>
<%end%>


<%= link_to roles_path do %>
<div class="linkdiv maindiv">
	  <h2>Rollen</h2>
	  <p>Liste mit allen Rollen</p>
</div>
<%end%>


<%= link_to actors_path do %>
<div class="linkdiv maindiv">
	  <h2>Schauspieler</h2>
	  <p>Liste mit allen Schauspielern</p>
</div>
<%end%>

<%if signed_in? %>
<%= link_to entrances_path do %>
<div class="linkdiv maindiv">
	  <h2>Auftritte</h2>
	  <p>Liste mit allen Auftritten</p>
</div>
<%end%>




<%end%>


