<div class="maindiv">
	<h1>Alle Rollen des Musicals</h1>
	<p>Klicken, um Infos zu erhalten</p>
</div>

<div class="maindiv">
	<table>
  		<thead>
  			<th>Rolle</th>
  			<th>Szenen auf der Bühne</th>
  			<th>gesprochene Szenen</th>
  		</thead>
  	
  		<% @roles.each do |role|%>
		<tr>
			<td><%= link_to role_show_path(role.id) do  %>
     			<%= role.name %>
     		</td>
			<td><% role.scenes.each do |s|%>
				<%= link_to s.name, scene_show_path(s.id)%>
				<%end%>
			</td>
			<td><% role.entrances.each do |e|%>
				<%= link_to e.scene.number, scene_show_path(e.scene.id) if e.speaking?%>
				<%end%>
			</td>
			<%end%>
		</tr>
		<%end%>
	</table>
</div>

