// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container {
  margin: 50px;
}
#import {
  float:left;
  clear:left;
  margin-top: 50px;
}
footer {
  float:left;
  clear:both;
}



