// Place all the styles related to the scenes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.casino {
  background-color: #BF8D30;
}

.kirche {
  background-color: #FFe573;
  
}

.kloster {
  background-color:#BFA430;
}

.gangsterbüro {
  background-color:#A66C00;
}

.draussen {
  background-color:#6B90D4;
}

.schule {
  background-color:#FFCF00;
}

.ritas_zimmer {
  background-color:#FF6c00;
}



.listdiv {
  float:left;
  width: 40px;
  height: 40px;
  border: solid black 2px;
  margin:10px;
  padding:7px;
  border-radius: 10%; 
}

